@use '../../../../styles/variables' as *;

.edit-projects-container {
  width: 100%;
  height: 100%;
  margin: 25px 0;
}

.edit-project-list-item {
  width: 100%;
  border: 1px solid $border-color;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 13px 15.4px -5px rgba(0, 0, 0, 0.1);
  transition: scale 0.2s ease-in-out;

  &:hover {
    scale: 1.015;
  }
}

.edit-project-item-actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 5px;
}

.edit-project-item-action-button {
  width: 50px;
  height: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
}

.edit-project-item-action-button-edit {
  @extend .edit-project-item-action-button;
  background-color: $edit-color;
  border: 1px solid $edit-color;

  &:hover {
    color: $edit-color;
    border: 1px solid $edit-color;
    background-color: #fff;

    path {
      fill: $edit-color;
    }
  }
}

.edit-project-item-action-button-remove {
  @extend .edit-project-item-action-button;
  background-color: $remove-color;
  border: 1px solid $remove-color;

  &:hover {
    color: $remove-color;
    border: 1px solid $remove-color;
    background-color: #fff;

    path {
      fill: $remove-color;
    }
  }
}

.edit-project-drag-icon-container {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.edit-projects-buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  .button {
    margin-right: 10px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    justify-content: flex-start;
  }
}

.project-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 10px;

  .project-title {
    margin: 0;
  }
}

.project-image-container {
  overflow: hidden;
  height: 78px;
  width: 150px;
  border-radius: 10px 0 0 10px;
  margin-right: 20px;
  box-shadow: 0px 13px 15.4px -5px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
