@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gloss';
  src: url('../assets/fonts/Gloss_And_Bloom.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
