$font-inter: 'Inter', sans-serif;
$font-gloss: 'Gloss', sans-serif;

$tablet-breakpoint: 768px;
$mobile-breakpoint: 540px;

$text-color: #131415;
$secondary-color: #bc0e4d;
$submit-color: #86dc3c;
$edit-color: #3399bb;
$remove-color: #bf0000;
