@use './variables' as *;
@use './fonts' as *;

* {
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }

  /* Scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #bc0e4d;
    border-radius: 5px;
  }
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body,
p,
button,
input,
textarea,
div {
  font-family: $font-inter !important;
  font-weight: 100;
}

h1 {
  font-family: $font-gloss !important;
  font-size: 30px;
  color: #141516;
  text-align: center;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

body {
  overflow-y: auto;
}

html.scroll-lock {
  overflow: hidden;
}
