@use '../../styles/variables' as *;

.contact-container {
  max-width: 1600px;
  width: 90%;
  height: 100%;
  min-height: 100vh;
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-description {
  width: 90vw;
  max-width: 500px;
  text-align: center;
}

.contact-email {
  text-decoration: none;
  color: $secondary-color;
  font-weight: 400;
  transition: all 0.2s ease-in-out;

  &:hover {
    font-weight: 600;
  }
}
