@use '../../styles/variables' as *;

.contact-container {
  max-width: 1600px;
  width: 90%;
  height: 100%;
  min-height: 100vh;
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-description {
  width: 90vw;
  max-width: 500px;
}

.contact-email {
  text-decoration: none;
  color: $text-color;

  &:hover {
    color: $secondary-color;
  }
}
