@use '../../styles/variables' as *;

.private-area-container {
  position: relative;
  max-width: 1600px;
  width: 80%;
  height: 100%;
  min-height: 100vh;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.private-area-logout-container {
  position: absolute;
  top: 155px;
  right: 0;
}
