@use '../../../../../styles/variables' as *;

.add-project-container {
  max-width: 1600px;
  width: 80%;
  height: 100%;
  min-height: 100vh;
  margin: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}
