@use '../../styles/variables' as *;

.header-container {
  width: 100vw;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 999;
  border-radius: 0 0 20px 20px;

  @media screen and (min-width: $header-breakpoint) {
    &.scrolled {
      background-color: rgba(255, 255, 255, 0.6);
      backdrop-filter: saturate(180%) blur(30px);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar {
      color: #bc0e4d !important;
      background-color: #bc0e4d !important;
      fill: #bc0e4d;
    }
  }

  @media screen and (max-width: $header-breakpoint) {
    position: absolute;
    height: 100px;
  }
}

.header-content {
  max-width: 1600px;
  width: 80%;
  height: 100%;
  margin: 0 10%;
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (max-width: $header-breakpoint) {
    display: none;
  }
}

.header-content.open {
  @media screen and (max-width: $header-breakpoint) {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    z-index: 998;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.header-list-container {
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  left: 0;
}

.header-list-container.open {
  @media screen and (max-width: $header-breakpoint) {
    position: relative;
    width: 100vw;
    flex-direction: column;
  }
}

.header-list-element {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    cursor: pointer;

    path {
      fill: #000;
    }
  }
}

.header-list-element.open {
  @media screen and (max-width: $header-breakpoint) {
    width: 100vw;
    justify-content: center;
    height: 70px;
  }
}

.header-link {
  text-decoration: none;
  color: #141516;
  font-size: 16px;
  border: none;
  background-color: transparent;

  &:hover {
    color: #bc0e4d;
    cursor: pointer;
  }
}

.header-link.open {
  @media screen and (max-width: $header-breakpoint) {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #fff;
      background-color: $secondary-color;
      cursor: pointer;
    }
  }
}

.header-link-selected {
  font-weight: 900;
  color: #bc0e4d;
}

.header-social-list-container {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-social-list-container.open {
  @media screen and (max-width: $header-breakpoint) {
    position: absolute;
    width: 100vw;
    flex-direction: column;
    right: unset;
    bottom: 0;
    margin: 50px 0;
  }
}

.header-logo-container {
  position: absolute;
  left: calc(50% - 135px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;

  @media screen and (max-width: $mobile-breakpoint) {
    left: unset;
    right: 8%;
  }
}

.header-logo-title {
  font-family: 'GlossAndBloom', sans-serif;
  font-size: 35px;
  color: #141516;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  margin: 0;

  &:hover {
    color: #bc0e4d;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 30px;
  }
}

.header-logo-icon {
  position: absolute;
  top: 60px;
}

.header-social-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  &:hover {
    color: #bc0e4d;

    svg {
      fill: #bc0e4d;
      cursor: pointer;
    }
  }
}

.header-lang-container {
  position: absolute;
  right: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    height: 50px;
    color: #bc0e4d;

    svg {
      fill: #bc0e4d;
    }

    .header-lang-box {
      display: flex;
    }
  }
}

.header-lang-container.open {
  @media screen and (max-width: $header-breakpoint) {
    position: relative;
    width: 100vw;
    border: none;
    height: 100px;

    &:hover {
      height: 100px;
    }
  }
}

.header-lang {
  margin-left: 10px;

  &:hover {
    color: #bc0e4d;
  }
}

.header-lang.open {
  @media screen and (max-width: $header-breakpoint) {
    display: none;
  }
}

.header-arrow-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  padding-left: 3px;
}

.header-arrow-icon.open {
  @media screen and (max-width: $header-breakpoint) {
    display: none;
  }
}

.header-lang-box {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: saturate(180%) blur(30px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 100px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  overflow: hidden;
}

.header-lang-box.open {
  @media screen and (max-width: $header-breakpoint) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    box-shadow: none;
    top: unset;
  }
}

.header-lang-box-element {
  width: 100%;
  flex: 1;
  display: flex;
}

.header-lang-box-element.open {
  @media screen and (max-width: $header-breakpoint) {
    width: 50px;
    height: 40px;
    display: flex;
    flex: unset;
    margin: 0 5px;
  }
}

.header-lang-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 100;
  color: #141516;
  background-color: transparent;
  border: none;
  font-family: $font-inter;
  padding: 0;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $secondary-color;
  }
}

.header-lang-button.selected {
  font-weight: 700;
  color: #fff;
  background-color: $secondary-color;
}

.header-lang-button.open {
  @media screen and (max-width: $header-breakpoint) {
    border-radius: 10px;
  }
}

.burger-menu-button-container {
  width: 30px;
  height: 30px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  left: 25px;
  position: absolute;
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 999;
  border: none;

  @media screen and (max-width: $header-breakpoint) {
    display: flex;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    display: flex;
    left: 3%;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: flex;
    left: 8%;
  }
}

.burger-menu-button {
  width: 25px;
  height: 2px;
  background-color: $text-color;
  color: white;
  border-radius: 1px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $text-color;
    transform: translate(0, -7px);
    border-radius: 1px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $text-color;
    transform: translate(0, 7px);
    border-radius: 1px;
  }
}

.burger-menu-button,
.burger-menu-button::before,
.burger-menu-button::after {
  transition:
    transform 0.25s ease,
    background-color 0.25s ease,
    opacity 0.25s ease;
  transform-origin: center;
  will-change: transform;
}

.burger-menu-button.open {
  background-color: transparent;
}

.burger-menu-button.open::before {
  transform: translateY(0) rotate(45deg);
}

.burger-menu-button.open::after {
  transform: translateY(0) rotate(-45deg);
}
