@use '../../../../../styles/variables' as *;

.project-field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

h1 {
  color: $secondary-color;
}

.project-field {
  width: 100%;
  max-width: 500px;
  height: 40px;
  border: 1px solid hsl(210, 18%, 87%);
  border-radius: 10px;
  margin-top: 5px;
  padding: 0 10px;
  font-size: 16px;

  &::placeholder {
    font-size: 16px;
  }
}

.project-field-textarea {
  width: 100%;
  max-width: 500px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;

  &::placeholder {
    font-size: 16px;
  }
}

.project-submit-button {
  width: 90vw;
  max-width: 500px;
  height: 40px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 300;
  background-color: $secondary-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    border-color: #fff;
    border-left-color: $secondary-color;
  }

  &:hover {
    background-color: transparent;
    color: $secondary-color;

    .spinner {
      border-color: $secondary-color;
      border-left-color: #fff;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.project-form-container {
  margin-top: 20px;
  width: auto;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.project-error-message {
  color: $remove-color;
  margin: 5px;
  font-size: 14px;
}

.project-image-item {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.project-existing-images-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.project-form-markdown-editor-container {
  width: 100%;
  max-width: 500px;
}

.project-image-remove {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 888;
  background-color: $remove-color;
  border: none;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.project-image-copy-link {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 888;
  background-color: $text-color;
  border: none;
  width: 100%;
  height: 20px;
  color: #fff;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  font-size: 12px;
}
