@use '../../styles/variables' as *;

.work-container {
  max-width: 1600px;
  width: 80%;
  height: 100%;
  min-height: 100vh;
  margin: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 150px;
}

.work-list-container {
  padding-top: 150px;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: auto;
  gap: 20px;

  @media screen and (max-width: $tablet-breakpoint) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 50vw;
    margin: 0 25vw;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: 80vw;
    margin: 0 10vw;
  }
}

.work-list-element {
  position: relative;
  width: 25vw;
  height: 25vw;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 13px 35.4px -5px rgba(0, 0, 0, 0.25);
  transition: scale 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;

  &:hover {
    scale: 1.05;

    .work-link-title {
      opacity: 1;
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    width: 50vw;
    height: 50vw;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    width: 80vw;
    height: 80vw;
  }
}

.work-link {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.work-link-title {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  color: #fff;
  opacity: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(188, 14, 77, 1) 81%,
    rgba(188, 14, 77, 1) 100%
  );
  pointer-events: all;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
  font-size: 21px;
  pointer-events: none;
}

.loading-spinner-container {
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}
