.app {
  height: auto;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100vw;
  position: relative;
  bottom: 0;
  overflow: hidden;
}

.social-icon {
  &:hover {
    path {
      fill: #bc0e4d;
    }
  }
}
